<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'js/jquery.mobile-1.2.0.css' %}" />
	<link rel="stylesheet" href="{% static 'js/jqm.css' %}" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="{% static 'js/jquery.mobile-1.2.0.js' %}"></script>
	<script>//collapse page navs after use
$(function(){
	$('body').delegate('.content-secondary .ui-collapsible-content', 'click',  function(){
		$(this).trigger("collapse");
	});
	$('body').delegate('a[data-cache=false]', 'click', function() {
    var $this = $(this);

    $('[data-url="' + $this.attr('href') + '"]' ).remove();

});
$('a.force-reload').live('click', function(e) {
	var url = $(this).attr('href');
	$.mobile.changePage( url, { reloadPage: true, transition: "none"} );
});
$j("div[data-role*='page']").live('pagehide', function(event, ui) {
            if ($j(this).children("div[data-role*='content']").is(".command-no-cache"))
                $j(this).remove();
        });
});

// display the version of jQM



// Turn off AJAX for local file browsing
if ( location.protocol.substr(0,4)  === 'file' ||
     location.protocol.substr(0,11) === '*-extension' ||
     location.protocol.substr(0,6)  === 'widget' ) {

  // Start with links with only the trailing slash and that aren't external links
 // var fixLinks = function() {
//    $( "a[href$='/'], a[href='.'], a[href='..']" ).not( "[rel='external']" ).each( function() {
//      this.href = $( this ).attr( "href" ).replace( /\/$/, "" ) + "/index.html";
//    });
//  };

  // fix the links for the initial page
//  $(fixLinks);

  // fix the links for subsequent ajax page loads
//  $(document).bind( 'pagecreate', fixLinks );

  // Check to see if ajax can be used. This does a quick ajax request and blocks the page until its done
  });
  $('a').on('click', function(e) {
	var url = $(this).attr('href');
	$.mobile.changePage( url, { reloadPage: true, transition: "none"} );
});
}
</script>
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
